*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.food-cnt{

    width: 100%;
    height: 100vh;
    display: flex;
    
}

.left-cnt{

    width: 55%;
    height: 100vh;
    box-shadow: 2px 2px 2px 2px rgb(134, 129, 129);
   
    

}

.right-cnt{

    width: 45%;
    height: 100vh;
    overflow-y: scroll;
    border: 1px solid #ccc;

    scroll-behavior: smooth;
    
    
}

.head{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.item1{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
    

}

.card-food{

    width: 50%;
    height: 60%;
    box-shadow: 2px 2px 2px 2px rgb(142, 139, 139);
    margin-top: 130px;
    margin-left: 150px;
}

.buttons{

    width: 60%;
    height: 30px;
    margin-top: 50px;
    margin-left: 80px;
    background-color: rgb(78, 78, 158);
    border-radius: 6px;
    cursor: pointer;
}
